<h1>KWSE cloth shop comfirmation</h1>
<p>
	Thank you for your order!
	You ordered the following items:
</p>
<table>
		<tr><th colspan="2">#</th><th>Description</th></tr>
<%= render @order.line_items %>
</table>
