
<div class="form-style-2">
	<div class="form-style-2-heading" class="shadow2">Post a new question</div>
	<form action="/qna/add_process" method="post">
		<label for="field1"><span>Name</span>
			<input type="text" class="input-field" name="name" value=""></label>

		<label for="field5">
			<span>question</span>
			<textarea name="question" class="textarea-field"></textarea>
		</label>
		<label>
			<input type="submit" value="Add">
		</label>
	</form>
</div>

<h4><%= flash[:alert] %></h4>

