<div style="background-color:#e9eaed;">
	<h1 style="font-family: Arial Black;" class="shadow2">Post a new question</h1>
	<form action="/qna/add_process" method="post">
		Name: <%= @user.name %><br>
		Question:<br>
		<textarea name="question" cols="40" rows="5" placeholder="Write question"></textarea>
		
		<%= link_to 'Submit', qna_add_process_path(:user_id=>session[:user_id])%>
		
	</form>
</div>

<h4><%= flash[:alert] %></h4>
