/*
	* This is a manifest file that'll be compiled into application.css, which will
	* include all the files listed below.
	*
	* Any CSS and SCSS file within this directory, lib/assets/stylesheets,
	* vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
	* can be referenced here using a relative path.
	*
	* You're free to add application-wide styles to this file and they'll appear
	* at the top of the compiled file, but it's generally better to create a new
	* file per style scope.
	*
	*= require_self
	*= require_tree .
	*/

body {
	background-image: url("back.PNG");
}
#login{
	float: right;
} 


#banner{
	img {
		float: top;
		width: 70px;
		height: 70px;
		cursor:pointer;
	}

	background-image: url("back.PNG");
	padding: 30px;
	border-bottom: 0px ;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #000000;
	text-align: center;
} 

#notice {
	color: #000 !important;
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

#columns {
	background: #FFFFFF;

	#main {
		margin-left: 17em;
		padding: 3em;
		background: white;
	}

	.depot_form {
		fieldset {
			background: #efe;

			legend {
				color: #dfd;
				background: #141;
				font-family: sans-serif;
				padding: 0.2em 1em;
			}
		}

		form {
			label {
				width: 6em;
				float: left;
				text-align: right;
				padding-top: 0.2em;
				margin-right: 0.1em;
				display: block;
			}

			select, textarea, input {
				margin-left: 0.5em;
			}

			.submit {
				margin-left: 4em;
			}

			br {
				display: none
			}
		}
	}
	#side {
		float: left;
		padding: 1em 2em;
		height:100%;
		width: 13em;
		background: #FFFFFF;

		form, div {
			display: inline;
		}

		input {
			font-size: small;
		}

		#cart {
			font-size: smaller;
			color: orange;
			table {
				border-top: 1px dotted #595;
				border-bottom: 1px dotted #595;
				margin-bottom: 10px;
			}
		}

		ul {
			padding: 0;
			li {
				list-style: none;
				a {
					color: #000000;
					font-size: small;
				}
			}
		}
	}
}
#rows{
	background: #FFFFFF;
	

	#side2 {
		float: left;
		width: 100%;
		height:100%;
		border-bottom: 2px solid;
		background: #FFFFFF;

		form, div {
			display: inline;
		}

		input {
			font-size: small;
		}



		ul {
			float: left;
			padding: 0;
			li {
				float: left;
				list-style: none;
				padding: 10px;
				a {
					color: #000000;
					font-size: small;
				}
			}
		}
	}
}


.pinkBtn {
   -moz-box-shadow:inset 0px 1px 15px -5px #fbafe3;
   -webkit-box-shadow:inset 0px 1px 15px -5px #fbafe3;
   box-shadow:inset 0px 1px 15px -5px #fbafe3;
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d));
   background:-moz-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
   background:-webkit-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
   background:-o-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
   background:-ms-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
   background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d',GradientType=0);
   background-color:#ff5bb0;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   border:1px solid #ee1eb5;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Trebuchet MS;
   font-size:15px;
   font-weight:bold;
   padding:6px 15px;
   text-decoration:none;
}
.pinkBtn:hover {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0));
   background:-moz-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
   background:-webkit-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
   background:-o-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
   background:-ms-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
   background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0',GradientType=0);
   background-color:#ef027d;
}
.pinkBtn:active {
   position:relative;
   top:1px;
}


.blueBtn {
   border: 3px solid #000000;
   background: #085d96;
   background: -webkit-gradient(linear, left top, left bottom, from(#1ee6e6), to(#085d96));
   background: -webkit-linear-gradient(top, #1ee6e6, #085d96);
   background: -moz-linear-gradient(top, #1ee6e6, #085d96);
   background: -ms-linear-gradient(top, #1ee6e6, #085d96);
   background: -o-linear-gradient(top, #1ee6e6, #085d96);
   background-image: -ms-linear-gradient(top, #1ee6e6 0%, #085d96 100%);
   padding: 7.5px 15px;
   -webkit-border-radius: 27px;
   -moz-border-radius: 27px;
   border-radius: 27px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #082b40 0 1px 0;
   color: #000000;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.blueBtn:hover {
   border: 3px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #ffffff;
   }
.blueBtn:active {
   text-shadow: #1e4158 0 1px 0;
   border: 3px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #ff0000;
   }

.shadow2 { 
  color: black; 
  text-shadow: #87CEEB 1px 3px; 
}

@keyframes fadeOutInOutSwirl {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
    transform: rotateZ(0deg); 
  }
  75% {
    opacity: 0.5;
    transform: rotateZ(180deg);
  }
  100% {
    opacity: 1.0;
    transform: rotateZ(360deg);
  }
}

